<%= form_for(@ticket, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @ticket.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@ticket.errors.count, "erreur") %> s'est produite :</h4>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <div class="form-group">
      <%= f.label :closed, 'Ticket fermé', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.check_box :closed, :class => "form-control" %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title, 'Sujet', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body, 'Objet', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :body, rows: "16", :class => "form-control" %>
    </div>
  </div>
  <% if current_user.admin? %>
    <div class="form-group">
      <%= f.label :tag_list, 'Tags', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :tag_list, rows: "1", :class => "form-control" %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
