<div class="page-header">
  <%= link_to new_ticket_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nouveau ticket
  <% end %>
  <h1>Liste des tickets</h1>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Sujet</th>
        <th>Dernière réponse</th>
        <th>Mise à jour</th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @tickets) do |ticket| %>
        <td>
          <div class="badge pull-right"><%= ticket.comments.count %></div>
          <%= link_to truncate(ticket.title, length: 150), ticket %>
          <br/>
          <% ticket.tags.each do |tag| %>
            <%= link_to tag, '#', class: "label label-default label-#{tag}" %>
          <% end %>
        </td>
        <td><%= ticket.last_user.email %></td>
        <td class="date"><%= ticket.last_update %></td>
      <% end %>
    </tbody>
  </table>
</div>