<div class="text-right">
  <%= link_to new_ticket_path, :class => 'btn btn-success' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nouveau ticket
  <% end %>
</div>

<br/>

<% if @opened_tickets.any? %>
  <div class="opened-tickets">
    <div class="container-fluid">
      <% @opened_tickets.each_with_index do |ticket, index| %>
        <div class="row <%= 'focus' if index == 0 %>">
          <div class="col-xs-10">
            <h3><%= link_to "#{truncate(ticket.long_title, length: 90)}", ticket %></h3>

            <% ticket.tags.each do |tag| %>
              <%= link_to tag, '#', class: "label label-default label-#{tag}" %>
            <% end %>
            <br/><br/>
          </div>
          <div class="col-xs-2"> 
            <div class="infos text-right">
              <small><%= ticket.last_update %></small><br/>
              <small><%= link_to "Réponses (#{ticket.comments.count})", ticket %></small>
            </div>
          </div>    
        </div>
      <% end %>
    </div>
  </div>

<% else %>
  <div class="text-center">
    <h1>Il n'y a pas de ticket ouvert.</h1>
    <%= link_to new_ticket_path, :class => 'btn btn-lg btn-link' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Nouveau ticket
    <% end %>
  </div>
<% end %>

<% if @closed_tickets.any? %>
  <%= content_for :sidebar do %>
    <br/><br/>
    <div class="well">
      <h4>Tickets fermés</h4>
      <ul>
        <% @closed_tickets.each do |ticket| %>
          <li>
            <%= link_to "##{ticket.id}: #{truncate(ticket.title, length: 40)}", ticket %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>