<div class="page-header">
  <%= link_to new_ticket_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nouveau ticket
  <% end %>
  <h2>Liste des tickets</h2>
</div>

<% if @opened_tickets.any? %>
  <div class="table-responsive">
    <table class="table opened-tickets">
      <thead>
        <tr>
          <th>Sujet</th>
          <th>Dernière réponse</th>
          <th>Mise à jour</th>
        </tr>
      </thead>
      <tbody>
        <% @opened_tickets.each do |ticket| %>
          <tr>
            <td>
              <div class="badge pull-right"><%= ticket.comments.count %></div>
              <%= link_to truncate(ticket.title, length: 150), ticket %>
              <br/>
              <% ticket.tags.each do |tag| %>
                <%= link_to tag, '#', class: "label label-default label-#{tag}" %>
              <% end %>
            </td>
            <td><%= ticket.last_user.email %></td>
            <td class="date"><%= ticket.last_update %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="focus-bar">
    <h4>Il n'y a pas de ticket ouvert.</h4>
    <%= link_to new_ticket_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Nouveau ticket
    <% end %>
  </div>
<% end %>

<% if @closed_tickets.any? %>
  <%= content_for :sidebar do %>
    <br/><br/>
    <div class="well">
      <h4>Tickets fermés</h4>
      <ul>
        <% @closed_tickets.each do |ticket| %>
          <li><%= link_to truncate(ticket.title, length: 40), ticket %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>